<div class="container-md">
    <form [formGroup]="formProduto" (submit)="salvarProduto()">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="nome" class="form-control" id="nome" formControlName="nome">
            </div>
            <div class="mb-3">
                <label for="categoria" class="form-label">Categoria</label>
                <select class="form-select" aria-label="Categoria" id="categoria"  formControlName="categoria">
                    <option selected></option>
                    <option value="JOGOS">Jogos</option>
                    <option value="ACESSORIOS">Acessorios</option>
                    <option value="GEEK">Geek</option>
                </select>

            </div>
            <div class="mb-3">
                <label for="fabricante" class="form-label">Fabricante</label>
                <input type="fabricante" class="form-control" id="fabricante"  formControlName="fabricante">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="quantidade" class="form-label">Quantidate</label>
                <input type="quantidade" class="form-control" id="quantidade"  formControlName="quantidade">
            </div>
            <div class="mb-3">
                <label for="valor" class="form-label">Valor</label>
                <input type="valor" class="form-control" id="valor"  formControlName="valor">
            </div>
            <div class="mb-3">
                <label for="plataforma" class="form-label">Plataforma</label>
                <input type="plataforma" class="form-control" id="plataforma"  formControlName="plataforma">
            </div>
            <div class="mb-3">
                <label for="prazoGarantia" class="form-label">Prazo Garantia</label>
                <input type="prazoGarantia" class="form-control" id="prazoGarantia"  formControlName="prazoGarantia">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>